*{
    margin: 0;
    padding: 0;
}
.body{

width: 100%;
overflow: hidden;
}



.move{

    height:6vh;
    width:100%;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    background-color: black;
 

}
.move div{

    width: 40%;
    flex-shrink: 0;
    background-color:black;
    color: white;
    
}
.navbar{
    font-family: "Roboto", sans-serif;
    height:120vh;
    width:90%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 999;
    color:white;
  
    flex-direction: column;
    display: none;

}
.navbar .menuu{
    
    height: 10vh;
    width: 100%;
    display: flex;
    gap:60%;
    align-items: center;
}
.navbar .menuu h1{
    margin-left: 20px;
   
}
.navbar .menuu i{
    font-size: 25px;
}

.navbar .linkss{
    height:50vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;

}


nav{


height:10vh;
width:100%;

display: flex;
justify-content: space-between;
align-items: center;
font-family: "Roboto", sans-serif;
background-color: rgba(248, 235, 220, 0.454);
border-bottom: 1px solid rgba(0, 0, 0, 0.084);

}
.menu{
    display: none;
}
.social i{

    margin-left:1.5vw ;
    font-size: 20px;
    transition: 1s ;

}


.social i:hover{


transform: translateY(-10px);

}


.search i{

    margin-right:1.5vw ;
    font-size: 20px;
}
.logo{
    width:10%;
    background-color:rgba(248, 235, 220, 0.454);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo h1{

    font-weight: 600;
    font-size: 30px;
    letter-spacing: 5px;

}
.logo h3{

    font-size: 12px;
    letter-spacing: 8px;
    font-weight: 900;
}

.link{

    height:8vh;
    width:100%;
    display: flex;
    justify-content: center;
    background-color: rgba(248, 235, 220, 0.454);

}
.link div{

width:50%;
height:8vh;
display: flex;
justify-content: space-between;
align-items: center;
font-family: "Roboto", sans-serif;

}
.link div p:hover{
    background-color: white;
    border-bottom:1px solid black ;
}
.link div i{
    font-size: 10px;
    margin-left: 4px;
    
}





.main{
    width:100%;
}

.phone-page1{
    display: none;
}

.page1{

height:80vh;
width:100%;
background-color:white;
display: flex;
justify-content: center;
align-items: center;
overflow-x: hidden;

}
.slider{

    height:80vh;
    width:90%;
    background-color: azure;
   position: relative;
    overflow: hidden;

}

.first ,.second,.third{

    height:80vh;
    width:100%;
    position: absolute;
   

}
.slide img{

    height:80vh;
    width: 100%;


}

.page1 .prv,.next{
    height:20px;
    margin:20px;
    font-size: 30px;
}




.page2{

height:100vh;
width:100%;
background-color:white;


}
.headding{

    height:20vh;
    width:100%;
    background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:1%;
}

.headding .a{

   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    color:grey
    
}

.headding .b{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    color:rgba(0, 0, 0, 0.799);

}

.cloths{

height:80vh;
width:100%;
background-color:white;
display: flex;
justify-content: space-evenly;
overflow: hidden;

}

.cloths .card{

    height:80vh;
    width:30%;
    background-color:white;

}

.c1 .image{

background-image: url("https://www.octaveclothing.com/cdn/shop/files/0C8A2045.jpg?v=1727779021&width=800");
background-size: cover;
background-position: center;
height:65vh;
width:100%;
background-color:brown;
transition: 0.5s ease-in-out ;

}

.c1 .image:hover{


    background-image: url("https://www.octaveclothing.com/cdn/shop/files/0C8A2047.jpg?v=1727779021&width=600");
    background-size: cover;
background-position: center;
}

.c2 .image{

    background-image: url("https://www.octaveclothing.com/cdn/shop/files/0C8A4598.jpg?v=1727957931&width=800");
    background-size: cover;
    background-position: center;
    height:65vh;
    width:100%;
    background-color:brown;
    transition: 0.5s ease-in-out ;
    
    }
    
    .c2 .image:hover{
    
    
        background-image: url("https://www.octaveclothing.com/cdn/shop/files/0C8A4601.jpg?v=1727957931&width=800");
        background-size: cover;
    background-position: center;
    }
    
    .c3 .image{

        background-image: url("https://www.octaveclothing.com/cdn/shop/files/0C8A2765_6103a7ae-4284-48ae-98ba-3a6e405b7d41.jpg?v=1727779409&width=800");
        background-size: cover;
        background-position: center;
        height:65vh;
        width:100%;
        background-color:brown;
        transition: 0.5s ease-in-out ;
        
        }
        
        .c3 .image:hover{
        
        
            background-image: url("https://www.octaveclothing.com/cdn/shop/files/0C8A2771.jpg?v=1727779408&width=800");
            background-size: cover;
        background-position: center;
        }
        
        
        .card h3{

            font-family:"Roboto", sans-serif ;
            margin-top: 20px;
            background-color: white;
            font-weight: 400;
        }
        .paragraph{
            margin-top: 20px;
display: flex;
gap:4%;

        }
        .paragraph .p1{

            font-weight: bold;
            font-size: 20px;
        }
        .paragraph .p2{

            text-decoration: line-through;
            
            font-weight:lighter;
            font-size: 20px;
        }




.page3{

    height:80vh;
    width:100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page3 .contain{

    height:70vh;
    width:80%;
    background-color:white;
    display: flex;
}
.contain .text {
    height:70vh;
    width:50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:5vh;
}
.contain .heding{
    margin-top: 60px;
}
.contain .text .heding h1{
    
    font-family:"Roboto", sans-serif ;
    margin-right: 20%;
    font-size: 40px;
    font-weight: 900;

}
.contain .text .heding .H1{

    color:grey
}
.contain .text .heding .H2{

    color:rgba(0, 0, 0, 0.79);
}

.contain .text p{
    font-family:"Roboto", sans-serif ;
    font-size: 20px;
    font-weight: 400;
}
.contain .text button{
width:40%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.806);
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.contain .image{
    height:70vh;
    width:50%;
   
}
.contain .image img{
    width:100%;
    height:70vh;
}





.page4{
    height:120vh;
    width:100%;
    background-color: white;
    display: flex;
    justify-content: center;
}
.page4 .contain{

    height:120vh;
    width:80%;
    background-color:white;
    display: flex;
    justify-content: space-between;
   

}
.page4 .contain .men{
    height:120vh;
    width:45%;
    background-color: white;
    position: relative;
}
.page4 .contain .men img{
    height:100vh;
    width:100%;
    position: absolute;
    top:0;
}
.page4 .contain .men .blure{
    height:100vh;
    width:100%;
    position: absolute;
    top:0;
    z-index: 999;
    background-color:transparent;

}
.page4 .contain .men .blure:hover{

    background-color: rgba(255, 255, 255, 0.21);
}


.page4 .contain .women{
    height:120vh;
    width:45%;
    background-color: white;
    position: relative;
}
.page4 .contain .women img{
    height:100vh;
    width:100%;
}
.page4 .contain .women .blure{
    height:100vh;
    width:100%;
    position: absolute;
    top:0;
    z-index: 999;
    background-color:transparent;

}
.page4 .contain .women .blure:hover{

    background-color: rgba(255, 255, 255, 0.21);

}
.page4 .contain .info{
    font-family:"Roboto", sans-serif ;
    position: absolute;
    height:20vh;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
   
}
.page4 .contain .info h2{

    font-size: 30px;
    margin-top:3vh ;
    margin-bottom:3vh ;
}


.page5{

height:100vh;
width:100%;
background-color:white;

}
.page5 video{
height: 100vh;
width: 100%;
}


.page6{

    height:110vh;
    width:100%;
    background-color:white;
}

.cardss{
    height:50vh;
    width:100%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}
.cardd{
    height:40vh;
    width:22%;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cardd .image{
    height:20vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardd h4{

    font-family:"Roboto", sans-serif ;


}
.cardd p{
    font-family:"Roboto", sans-serif ;
    font-size: 15px;
}
.location{
    height:60vh;
    width:80%;
    background-color:white;
    margin-left:10% ;
    display: flex;
    overflow: hidden;

}
.location .store{
    height: 50vh;
    width:50%;

}
.location .store img{

    height: 50vh;
    width:100%;
}
.locat{
    display: flex;
    flex-direction: column;
    gap:2vh;
    padding-left: 5%;
}
.locat .heading{
    margin-top: 7vh;
   
}
.locat h1{
    font-family:"Roboto", sans-serif ;
    font-size: 60px;

}

.locat .head1{
    color: rgba(0, 0, 0, 0.756);
}
.locat .head2{
    color:gray;
}
.locat h4{
    font-family:"Roboto", sans-serif ;
    font-weight: 400;
   font-size: 14px;
   
}
.locat button{
    padding: 10px 20px;
    font-family:"Roboto", sans-serif ;
    background-color: rgba(0, 0, 0, 0.838);
    color: white;
    font-size: bold;
    width: 30%;
   
}

.footer{
    height: 60vh;
    width:100%;
}
.about{
    height:80vh;
    width:100%;
    background-color: rgba(0, 0, 0, 0.838);
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:5vh;
    font-family:"Roboto", sans-serif ;
}
.about h3{
    margin-top: 5vh;;
    font-family:"Roboto", sans-serif ;
}
.about p{
    color: rgba(255, 255, 255, 0.452);
}




@media screen and (max-width:1440px) and (min-width:1251px)
{
    .menu{
        display: none;
    }

    .link div{

        width:55%;
        height:8vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Roboto", sans-serif;
        
        }


        .page1{

            height:70vh;
            width:100%;
            background-color:white;
            display: flex;
            justify-content: center;
         
            
            }
            .slider{
            
                height:70vh;
                width:90%;
                background-color: azure;
               position: relative;
                overflow: hidden;
            
            }
            
            .first ,.second,.third{
            
                height:70vh;
                width:100%;
                position: absolute;
               
            
            }
            .slide img{
            
                height:70vh;
                width: 100%;
            
            
            }


            .contain .text .heding h1{
    
                font-family:"Roboto", sans-serif ;
                margin-right:30% ;
                font-size: 30px;
                font-weight: 900;
            
            }
            .contain .text button{
                width:250px;
                    padding: 20px;
                    background-color: rgba(0, 0, 0, 0.806);
                    color: white;
                    font-size: 15px;
                    font-weight: bold;
                }
                .locat .heading{
                    margin-top: 7vh;
                   
                }
                .locat h1{
                    font-family:"Roboto", sans-serif ;
                    font-size: 50px;
                
                }



}


@media screen and (max-width:1250px) and (min-width:1100px)
{

    .menu{
        display: none;
    }
    .link div{

        width:70%;
     
        
        }


        .page1{

            height:55vh;
              }
            .slider{
            
                height:55vh;
                }
            
            .first ,.second,.third{
            
                height:55vh; }
            .slide img{
                height:55vh;
            
            }

            .page3{

                height:70vh;
               
            }
            

            .page3 .contain{

                height:60vh;
              
            }
            .contain .text {
                height:60vh;
               
            }
            .contain .heding{
                margin-top: 60px;
            }
            .contain .text .heding h1{
                
                font-family:"Roboto", sans-serif ;
            margin-right: 30%;
                font-size: 25px;
                font-weight: 900;
            
            }
            
            .contain .text p{
                font-family:"Roboto", sans-serif ;
                font-size: 17px;
               
            }
            .contain .text button{
            width:250px;
              
            }
            
            .contain .image{
                height:60vh;
              
               
            }
            .contain .image img{
              
                height:60vh;
            }
            

            
            .page4{
                height:100vh;
               
            }
            .page4 .contain{
            
                height:100vh;
               
               
            
            }
            .page4 .contain .men{
                height:100vh;
               
            }
            .page4 .contain .men img{
                height:80vh;
                
            }
            .page4 .contain .men .blure{
                height:80vh;
               
            
            }
            
            
            
            .page4 .contain .women{
                height:100vh;
               
            }
            .page4 .contain .women img{
                height:80vh;
               
            }
            .page4 .contain .women .blure{
                height:80vh;
              
            
            }
            
         
            .cardd p{
                font-family:"Roboto", sans-serif ;
                font-size: 12px;
            }

            .locat .heading{
                margin-top: 7vh;
               
            }
            .locat h1{
                font-family:"Roboto", sans-serif ;
                font-size: 45px;
            
            }
            .locat button{
                width: 150px;
               
            }
            footer{
                height:90vh;
            }
            .about{
                height:90vh;
             
            }
}



@media screen and (max-width:1099px) and (min-width:1000px)
{

    .menu{
        display: none;
    }
    .link div{

        width:75%;
     }

     .page1{

        height:55vh;
          }
        .slider{
        
            height:55vh;
            }
        
        .first ,.second,.third{
        
            height:55vh; }
        .slide img{
            height:55vh;
        
        }


        .page3{
            height:70vh;
        }
        

        .page3 .contain{

            height:60vh;
          
        }
        .contain .text {
            height:60vh;
           
        }
        .contain .heding{
            margin-top: 60px;
        }
        .contain .text .heding h1{
            
            font-family:"Roboto", sans-serif ;
        margin-right: 20%;
            font-size: 25px;
            font-weight: 900;
        
        }
        
        .contain .text p{
            font-family:"Roboto", sans-serif ;
            font-size: 14px;
           
        }
        .contain .text button{
        width:240px;
          
        }
        
        .contain .image{
            height:60vh;
          
           
        }
        .contain .image img{
          
            height:60vh;
        }

        .page4{
            height:100vh;
           
        }
        .page4 .contain{
        
            height:100vh;
           
           
        
        }
        .page4 .contain .men{
            height:100vh;
           
        }
        .page4 .contain .men img{
            height:80vh;
            
        }
        .page4 .contain .men .blure{
            height:80vh;
           
        
        }
        
        
        
        .page4 .contain .women{
            height:100vh;
           
        }
        .page4 .contain .women img{
            height:80vh;
           
        }
        .page4 .contain .women .blure{
            height:80vh;
          
        
        }


        .page6{

            height:90vh;
           
        }
        
        .cardss{
            height:40vh;
          
        }
        .cardd{
            height:30vh;
          
        }
       
        .cardd h4{
        
            font-family:"Roboto", sans-serif ;
        
        
        }
        .cardd p{
            font-family:"Roboto", sans-serif ;
            font-size: 13px;
        }
        .location{
            height:50vh;
          
        
        }
        .location .store{
            height: 40vh;
            width:50%;
        
        }
        .location .store img{
        
            height: 40vh;
            width:100%;
        }
       
       .locat .heading{
        margin-top: 3vh;
       }
        .locat h1{
            font-family:"Roboto", sans-serif ;
            font-size: 40px;
        
        }
        
        .locat button{
            padding: 8px 20px;
            font-family:"Roboto", sans-serif ;
            background-color: rgba(0, 0, 0, 0.838);
            color: white;
            font-size: bold;
            width: 120px;
           
        }
        
        footer{
            height:90vh;
        }
        .about{
            height:90vh;
         
        }


       

}

@media screen and (max-width:999px) and (min-width:850px)
{
    .menu{
        display: none;
    }
    .link div{

        width:80%;
     }

     .page1{

        height:55vh;
          }
        .slider{
        
            height:55vh;
            }
        
        .first ,.second,.third{
        
            height:55vh; }
        .slide img{
            height:55vh;
        
        }

        .page3{
            height:70vh;
        }
        

        .page3 .contain{

            height:50vh;
          
        }
        .contain .text {
            height:50vh;
           
        }
        .contain .heding{
            margin-top: 60px;
        }
        .contain .text .heding h1{
            
            font-family:"Roboto", sans-serif ;
        margin-right: 30%;
            font-size: 20px;
            font-weight: 900;
        
        }
        
        .contain .text p{
            font-family:"Roboto", sans-serif ;
            font-size: 12px;
           
        }
        .contain .text button{
            width:150px;
                padding: 10px;
                background-color: rgba(0, 0, 0, 0.806);
                color: white;
                font-size: 10px;
                font-weight: bold;
            }
        
        .contain .image{
            height:50vh;
          
           
        }
        .contain .image img{
          
            height:50vh;
        }

        .page4{
            height:100vh;
           
        }
        .page4 .contain{
        
            height:100vh;
           
           
        
        }
        .page4 .contain .men{
            height:100vh;
           
        }
        .page4 .contain .men img{
            height:80vh;
            
        }
        .page4 .contain .men .blure{
            height:80vh;
           
        
        }
        
        
        
        .page4 .contain .women{
            height:100vh;
           
        }
        .page4 .contain .women img{
            height:80vh;
           
        }
        .page4 .contain .women .blure{
            height:80vh;
          
        
        }

        .page6{

            height:90vh;
           
        }
        
        .cardss{
            height:40vh;
          
        }
        .cardd{
            height:30vh;
            width:28%;
          
        }
       
        .cardd h4{
        
            font-family:"Roboto", sans-serif ;
        
        
        }
        .cardd p{
            font-family:"Roboto", sans-serif ;
            font-size: 13px;
        }
        .location{
            height:50vh;
          
        
        }
        .location .store{
            height: 40vh;
            width:50%;
        
        }
        .location .store img{
        
            height: 40vh;
            width:100%;
        }
       
       .locat .heading{
        margin-top: 3vh;
       }
        .locat h1{
            font-family:"Roboto", sans-serif ;
            font-size: 40px;
        
        }
        
        .locat button{
            padding: 8px 20px;
            font-family:"Roboto", sans-serif ;
            background-color: rgba(0, 0, 0, 0.838);
            color: white;
            font-size: bold;
            width: 120px;
           
        }
        footer{
            height:100vh;
        }
        .about{
            height:100vh;
         
        }
}



@media screen and (max-width:849px) and (min-width:769px)
{
    .menu{
        display: none;
    }

   
    .move div{
    
        width: 50%;
        flex-shrink: 0;
        background-color:black;
        color: white;
        
    }

    .link div{

        width:70%;
     }

     .page1{

        height:45vh;
          }
        .slider{
        
            height:45vh;
            }
        
        .first ,.second,.third{
        
            height:50vh; }
        .slide img{
            height:45vh;
        
        }
        
           
            .link div i{
                font-size: 10px;
                margin-left: 4px;
                
            } .link div p{
                font-size: 12px;
            }


            .page3{
                height:70vh;
                
            }
            
    
            .page3 .contain{
    
                height:50vh;
                width:95%;
              
            }
            .contain .text {
                height:50vh;
               
            }
            .contain .heding{
                margin-top: 60px;
            }
            .contain .text .heding h1{
                
                font-family:"Roboto", sans-serif ;
            margin-right: 30%;
                font-size: 20px;
                font-weight: 900;
            
            }
            
            .contain .text p{
                font-family:"Roboto", sans-serif ;
                font-size: 12px;
               
            }
            .contain .text button{
                width:150px;
                    padding: 10px;
                    background-color: rgba(0, 0, 0, 0.806);
                    color: white;
                    font-size: 10px;
                    font-weight: bold;
                }
            
            .contain .image{
                height:50vh;
              
               
            }
            .contain .image img{
              
                height:50vh;
            }

            .page4{
                height:100vh;
               
            }
            .page4 .contain{
            
                height:100vh;
                width:95%;
               
               
            
            }
            .page4 .contain .men{
                height:100vh;
               
            }
            .page4 .contain .men img{
                height:80vh;
                
            }
            .page4 .contain .men .blure{
                height:80vh;
               
            
            }
            
            
            
            .page4 .contain .women{
                height:100vh;
               
            }
            .page4 .contain .women img{
                height:80vh;
               
            }
            .page4 .contain .women .blure{
                height:80vh;
              
            
            }
            .page6{

                height:90vh;
               
            }
            
            .cardss{
                height:40vh;
                
              
            }
            .cardd{
                height:30vh;
                width:30%;
              
            }
           
        
            .cardd p{
                font-family:"Roboto", sans-serif ;
                font-size: 13px;
            }
            .location{
                height:50vh;
                width:95%;
                margin-left: 2%;
              
            
            }
            .location .store{
                height: 40vh;
                width:50%;
            
            }
            .location .store img{
            
                height: 40vh;
                width:100%;
            }
           
           .locat .heading{
            margin-top: 3vh;
           }
            .locat h1{
                font-family:"Roboto", sans-serif ;
                font-size: 40px;
            
            }
            
            .locat button{
                padding: 8px 20px;
                font-family:"Roboto", sans-serif ;
                background-color: rgba(0, 0, 0, 0.838);
                color: white;
                font-size: bold;
                width: 120px;
               
            }
            footer{
                height:105vh;
            }
            .about{
                height:105vh;
             
            }

}



@media screen and (max-width:768px) and (min-width:700px)
{
    .menu{
        display: none;
    }

    .move div{
    
        width: 50%;
        flex-shrink: 0;
        background-color:black;
        color: white;
        
    }

    .link div{

        width:70%;
     }

     .page1{

        height:40vh;
          }
        .slider{
        
            height:40vh;
            }
        
        .first ,.second,.third{
        
            height:40vh; }
        .slide img{
            height:40vh;
        
        }
        
           
            .link div i{
                font-size: 10px;
                margin-left: 4px;
                
            } .link div p{
                font-size: 12px;
            }


            .page3{
                height:70vh;
                
            }
            
    
            .page3 .contain{
    
                height:50vh;
                width:95%;
              
            }
            .contain .text {
                height:50vh;
               
            }
            .contain .heding{
                margin-top: 60px;
            }
            .contain .text .heding h1{
                
                font-family:"Roboto", sans-serif ;
            margin-right: 30%;
                font-size: 20px;
                font-weight: 900;
            
            }
            
            .contain .text p{
                font-family:"Roboto", sans-serif ;
                font-size: 12px;
               
            }
            .contain .text button{
                width:150px;
                    padding: 10px;
                    background-color: rgba(0, 0, 0, 0.806);
                    color: white;
                    font-size: 10px;
                    font-weight: bold;
                }
            
            .contain .image{
                height:50vh;
              
               
            }
            .contain .image img{
              
                height:50vh;
            }

            .page4{
                height:100vh;
               
            }
            .page4 .contain{
            
                height:100vh;
                width:95%;
               
               
            
            }
            .page4 .contain .men{
                height:100vh;
               
            }
            .page4 .contain .men img{
                height:80vh;
                
            }
            .page4 .contain .men .blure{
                height:80vh;
               
            
            }
            
            
            
            .page4 .contain .women{
                height:100vh;
               
            }
            .page4 .contain .women img{
                height:80vh;
               
            }
            .page4 .contain .women .blure{
                height:80vh;
              
            
            }

            .page4 .contain .info{
                font-family:"Roboto", sans-serif ;
                position: absolute;
                height:20vh;
                width:100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                bottom: 0;
               
            }
            .page4 .contain .info h2{
            
                font-size: 25px;
                margin-top:3vh ;
                margin-bottom:3vh ;
            }

            .page6{

                height:90vh;
               
            }
            
            .cardss{
                height:40vh;
                
              
            }
            .cardd{
                height:30vh;
                width:30%;
              
            }
           
        
            .cardd p{
                font-family:"Roboto", sans-serif ;
                font-size: 13px;
            }
            .location{
                height:50vh;
                width:95%;
                margin-left: 2%;
              
            
            }
            .location .store{
                height: 40vh;
                width:50%;
            
            }
            .location .store img{
            
                height: 40vh;
                width:100%;
            }
           
           .locat .heading{
            margin-top: 3vh;
           }
            .locat h1{
                font-family:"Roboto", sans-serif ;
                font-size: 35px;
            
            }
            
            .locat button{
                padding: 8px 20px;
                font-family:"Roboto", sans-serif ;
                background-color: rgba(0, 0, 0, 0.838);
                color: white;
                font-size: bold;
                width: 120px;
               
            }
            footer{
                height:105vh;
            }
            .about{
                height:105vh;
             
            }




}


@media screen and (max-width:660px) and (min-width:580px)
{

    .menu{
        display: none;
    }

    .move div{
    
        width: 60%;
        flex-shrink: 0;
        background-color:black;
        color: white;
        
    }

    .link div{

        width:90%;
     }

     .page1{

        height:40vh;
          }
        .slider{
        
            height:40vh;
            }
        
        .first ,.second,.third{
        
            height:40vh; }
        .slide img{
            height:40vh;
        
        }
        
           
            .link div i{
                font-size: 10px;
                margin-left: 4px;
                
            } .link div p{
                font-size: 12px;
            }


            .page3{
                height:70vh;
                
            }
            
    
            .page3 .contain{
    
                height:50vh;
                width:95%;
              
            }
            .contain .text {
                height:50vh;
               
            }
            .contain .heding{
                margin-top: 20px;
            }
            .contain .text .heding h1{
                
                font-family:"Roboto", sans-serif ;
            margin-right: 30%;
                font-size: 20px;
                font-weight: 900;
            
            }
            
            .contain .text p{
                font-family:"Roboto", sans-serif ;
                font-size: 12px;
               
            }
            .contain .text button{
                width:150px;
                    padding: 10px;
                    background-color: rgba(0, 0, 0, 0.806);
                    color: white;
                    font-size: 10px;
                    font-weight: bold;
                }
            
            .contain .image{
                height:50vh;
              
               
            }
            .contain .image img{
              
                height:50vh;
            }

            .page4{
                height:100vh;
               
            }
            .page4 .contain{
            
                height:100vh;
                width:95%;
               
               
            
            }
            .page4 .contain .men{
                height:100vh;
               
            }
            .page4 .contain .men img{
                height:80vh;
                
            }
            .page4 .contain .men .blure{
                height:80vh;
               
            
            }
            
            
            
            .page4 .contain .women{
                height:100vh;
               
            }
            .page4 .contain .women img{
                height:80vh;
               
            }
            .page4 .contain .women .blure{
                height:80vh;
              
            
            }

            .page4 .contain .info{
                font-family:"Roboto", sans-serif ;
                position: absolute;
                height:20vh;
                width:100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                bottom: 0;
               
            }
            .page4 .contain .info h2{
            
                font-size: 25px;
                margin-top:3vh ;
                margin-bottom:3vh ;
            }

            .page6{

                height:90vh;
               
            }
            
            .cardss{
                height:40vh;
                
              
            }
            .cardd{
                height:30vh;
                width:30%;
              
            }
           
        
            .cardd p{
                font-family:"Roboto", sans-serif ;
                font-size: 13px;
            }
            .location{
                height:50vh;
                width:95%;
                margin-left: 2%;
              
            
            }
            .location .store{
                height: 40vh;
                width:50%;
            
            }
            .location .store img{
            
                height: 40vh;
                width:100%;
            }
           
           .locat .heading{
            margin-top: 3vh;
           }
            .locat h1{
                font-family:"Roboto", sans-serif ;
                font-size: 35px;
            
            }
            
            .locat button{
                padding: 8px 20px;
                font-family:"Roboto", sans-serif ;
                background-color: rgba(0, 0, 0, 0.838);
                color: white;
                font-size: bold;
                width: 120px;
               
            }
            footer{
                height:115vh;
            }
            .about{
                height:115vh;
             
            }


}









@media screen and (max-width:426px) and (min-width:322px)
{
    
    .move div{
    
        width: 80%;
        flex-shrink: 0;
        background-color:black;
        color: white;
        font-size: 13px;
        
    }

    .link {

        display:none;
     }
     .link div{
        display: none;
     }
    .menu{
        display: flex;
    }
     .menu i{

        margin-left:1.5vw ;
        font-size: 20px;
        transition: 1s ;
       
    
    }
   
    .social{
        display: none;
    }
    .search .i1{
        display: none;
    }
    .search .i2{
        display: none;
     }

        .page1{
            display:none;
        }

        .phone-page1{
            height:60vh;
            width:100%;
            background-color: aqua;
       

           
background-color:white;
display: flex;
justify-content: center;
align-items: center;
overflow-x: hidden;
        }
    
        .phone-slider{

            height:50vh;
            width:95%;
            background-color: azure;
           position: relative;
            overflow: hidden;
            border: white;
        
        }
        
        .phone-first ,.phone-second,.phone-third{
        
            height:50vh;
            width:100%;
            position: absolute;
           
        
        }
        .phone-slide img{
        
            height:50vh;
            width: 100%;
            border: white;
        
        
        }
        
        .phone-page1 .phone-prv,.phone-next{
            height:10px;
            margin:10px;
            font-size: 15px;
        }
        
           

           
       
            
            .headding .a{
                font-size: 30px;
            }
            
            .headding .b{
             
                font-size: 35px;
             
            }
            
            .cloths{
            
            height:80vh;
            width:100%;
            background-color:white;
            overflow-x: scroll;
            overflow-y: hidden;
            position: relative;
           
            
            }
            
            .cloths .card{
            
                height:80vh;
                width:70%;
              
                position: absolute;
            
            }
            .c1{
                left:10%;

            }
            .c2{
                left:90%;
            }
            .c3{
                left:170%;
            }
           
                    .cloths .text{
                        height:15vh;
                    }
                    
                    .card h3{
            
                    
                        font-size: 13px;
                    }
                    .paragraph{
                        margin-top: 20px;
            display: flex;
            gap:4%;
            
                    }
                    .paragraph .p1{
            
                        font-weight: bold;
                        font-size: 20px;
                    }
                    .paragraph .p2{
            
                        text-decoration: line-through;
                        
                        font-weight:lighter;
                        font-size: 20px;
                    }
            




                    .page3{

                        height:120vh;
                        width:100%;
                        background-color: white;
                        display: flex;
                        flex-direction: column;
                      
                    }
                    
                    .page3 .contain{
                    
                        height:120vh;
                        width:100%;
                        background-color:white;
                      
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    .contain .text {
                        height:60vh;
                        width:90%;
                        background-color: white;
                        display: flex;
                        flex-direction: column;
                        gap:5vh;
                    }
                    .contain .heding{
                        margin-top: 20px;
                    }
                    .contain .text .heding h1{
                        
                        font-family:"Roboto", sans-serif ;
                     
                        font-size: 25px;
                        font-weight: 900;
                    
                    }
                  
                   
                    
                    .contain .text p{
                        font-family:"Roboto", sans-serif ;
                        font-size: 15px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        line-height: 20px;
                    }
                    .contain .text button{
                    width:60%;
                        padding: 10px;
                      
                        font-size: 15px;
                        font-weight: bold;
                    }
                    
                    .contain .image{
                        height:60vh;
                        width:100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                       
                    }
                    .contain .image img{
                        width:100%;
                        height:50vh;
                    }
                   
                    

                    .page4{
                        height:200vh;
                        width:100%;
                       
                    }
                    .page4 .contain{
                    
                        height:200vh;
                        width:100%;
                        background-color:white;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                       
                    
                    }
                    .page4 .contain .men{
                        height:100vh;
                        width:90%;
                       
                    }
                    .page4 .contain .men img{
                        height:80vh;
                        width:100%;
                    
                    }
                    .page4 .contain .men .blure{
                        height:80vh;
                        width:100%;
                       
                    
                    }
                  
                    
                    
                    .page4 .contain .women{
                        height:100vh;
                        width:90%;
                       
                    }
                    .page4 .contain .women img{
                        height:80vh;
                        width:100%;
                    }
                    .page4 .contain .women .blure{
                        height:80vh;
                        width:100%;
                       
                    
                    }
                  
                  
                
.page5{

    height:40vh;
    width:100%;
    background-color:white;
    
    }
    .page5 video{
    height: 40vh;
    width: 100%;
    }
                    

    .page6{

        height:175vh;
        width:100%;
        background-color:white;
    }
    
    .cardss{
        height:100vh;
        width:100%;
        background-color: white;
        display: flex;
        flex-direction: column;
       
    }
    .cardd{
        height:30vh;
        width:100%;
      
    }
   
    .location{
        margin-left:0px ;
        height:100vh;
        width:100%;
        background-color:white;
     display: flex;
     flex-direction: column;
     align-items: center;
    
    }
    .location .store{
        height: 35vh;
        width:90%;
    
    }
    .location .store img{
    
        height: 35vh;
        width:100%;
    }
    .locat{
        width:90%;
        height:40vh;
        display: flex;
        flex-direction: column;
        gap:2vh;
        padding-left: 5%;
    }
    .locat .heading{
        margin-top: 5vh;
       
    }
    .locat h1{
        font-family:"Roboto", sans-serif ;
        font-size: 35px;
    
    }
    
   
   
  
    .locat button{
        padding: 10px 20px;
        font-family:"Roboto", sans-serif ;
        background-color: rgba(0, 0, 0, 0.838);
        color: white;
        font-size: bold;
        width: 40%;
       
    }

    footer{
        height:160vh;
    }
    .about{
        height:160vh;
     
    }
    footer .social{
        display: flex;
        margin: 0 auto;
    }
  

}


@media screen and (max-width:321px) and (min-width:0px)
{


    
    .move div{
    
        width: 90%;
        flex-shrink: 0;
        background-color:black;
        color: white;
        font-size: 13px;
        
    }

    .link {

        display:none;
     }
     .link div{
        display: none;
     }
    .menu{
        display: flex;
    }
     .menu i{

        margin-left:1.5vw ;
        font-size: 20px;
        transition: 1s ;
       
    
    }
   
    .social{
        display: none;
    }
    .search .i1{
        display: none;
    }
    .search .i2{
        display: none;
     }

        .page1{
            display:none;
        }

        .phone-page1{
            height:45vh;
            width:100%;
            background-color: aqua;
       

           
background-color:white;
display: flex;
justify-content: center;
align-items: center;
overflow-x: hidden;
        }
    
        .phone-slider{

            height:45vh;
            width:95%;
            background-color: azure;
           position: relative;
            overflow: hidden;
            border: white;
        
        }
        
        .phone-first ,.phone-second,.phone-third{
        
            height:45vh;
            width:100%;
            position: absolute;
           
        
        }
        .phone-slide img{
        
            height:45vh;
            width: 100%;
            border: white;
        
        
        }
        
        .phone-page1 .phone-prv,.phone-next{
            height:10px;
            margin:10px;
            font-size: 15px;
        }
        
           

           
       
            
            .headding .a{
                font-size: 30px;
            }
            
            .headding .b{
             
                font-size: 35px;
             
            }
            
            .cloths{
            
            height:80vh;
            width:100%;
            background-color:white;
            overflow-x: scroll;
            overflow-y: hidden;
            position: relative;
           
            
            }
            
            .cloths .card{
            
                height:80vh;
                width:70%;
              
                position: absolute;
            
            }
            .c1{
                left:10%;

            }
            .c2{
                left:90%;
            }
            .c3{
                left:160%;
            }
           
                    .cloths .text{
                        height:15vh;
                    }
                    
                    .card h3{
            
                    
                        font-size: 13px;
                    }
                    .paragraph{
                        margin-top: 20px;
            display: flex;
            gap:4%;
            
                    }
                    .paragraph .p1{
            
                        font-weight: bold;
                        font-size: 20px;
                    }
                    .paragraph .p2{
            
                        text-decoration: line-through;
                        
                        font-weight:lighter;
                        font-size: 20px;
                    }
            




                    .page3{

                        height:120vh;
                        width:100%;
                        background-color: white;
                        display: flex;
                        flex-direction: column;
                      
                    }
                    
                    .page3 .contain{
                    
                        height:120vh;
                        width:100%;
                        background-color:white;
                      
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    .contain .text {
                        height:60vh;
                        width:90%;
                        background-color: white;
                        display: flex;
                        flex-direction: column;
                        gap:5vh;
                    }
                    .contain .heding{
                        margin-top: 20px;
                    }
                    .contain .text .heding h1{
                        
                        font-family:"Roboto", sans-serif ;
                     
                        font-size: 25px;
                        font-weight: 900;
                    
                    }
                  
                   
                    
                    .contain .text p{
                        font-family:"Roboto", sans-serif ;
                        font-size: 15px;
                        font-weight: 500;
                        letter-spacing: 1px;
                        line-height: 20px;
                    }
                    .contain .text button{
                    width:70%;
                        padding: 10px;
                      
                        font-size: 15px;
                        font-weight: bold;
                    }
                    
                    .contain .image{
                        height:60vh;
                        width:100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                       
                    }
                    .contain .image img{
                        width:100%;
                        height:50vh;
                    }
                   
                    

                    .page4{
                        height:200vh;
                        width:100%;
                       
                    }
                    .page4 .contain{
                    
                        height:200vh;
                        width:100%;
                        background-color:white;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                       
                    
                    }
                    .page4 .contain .men{
                        height:100vh;
                        width:90%;
                       
                    }
                    .page4 .contain .men img{
                        height:80vh;
                        width:100%;
                    
                    }
                    .page4 .contain .men .blure{
                        height:80vh;
                        width:100%;
                       
                    
                    }
                  
                    
                    
                    .page4 .contain .women{
                        height:100vh;
                        width:90%;
                       
                    }
                    .page4 .contain .women img{
                        height:80vh;
                        width:100%;
                    }
                    .page4 .contain .women .blure{
                        height:80vh;
                        width:100%;
                       
                    
                    }
                  
                    .page4 .contain .info h2{
                    
                        font-size: 20px;
                        margin-top:3vh ;
                        margin-bottom:3vh ;
                    }
                  
                  
                
.page5{

    height:40vh;
    width:100%;
    background-color:white;
    
    }
    .page5 video{
    height: 40vh;
    width: 100%;
    }
                    

    .page6{

        height:175vh;
        width:100%;
        background-color:white;
    }
    
    .cardss{
        height:100vh;
        width:100%;
        background-color: white;
        display: flex;
        flex-direction: column;
       
    }
    .cardd{
        height:30vh;
        width:100%;
      
    }
   
    .location{
        margin-left:0px ;
        height:100vh;
        width:100%;
        background-color:white;
     display: flex;
     flex-direction: column;
     align-items: center;
    
    }
    .location .store{
        height: 35vh;
        width:90%;
    
    }
    .location .store img{
    
        height: 35vh;
        width:100%;
    }
    .locat{
        width:90%;
        height:40vh;
        display: flex;
        flex-direction: column;
        gap:2vh;
        padding-left: 5%;
    }
    .locat .heading{
        margin-top: 5vh;
       
    }
    .locat h1{
        font-family:"Roboto", sans-serif ;
        font-size: 35px;
    
    }
    
   
   
  
    .locat button{
        padding: 10px 20px;
        font-family:"Roboto", sans-serif ;
        background-color: rgba(0, 0, 0, 0.838);
        color: white;
        font-size: bold;
        width: 40%;
       
    }

    footer{
        height:170vh;
    }
    .about{
        height:170vh;
     
    }
    footer .social{
        display: flex;
        margin: 0 auto;
    }


}